<%= form_with model: @post, local: true do |f| %>
    <%= render "shared/validation-messages", object: f.object %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :author_id, "Author" %>
        <%= f.collection_select(:author_id, Author.all, :id, :formatted_name, {}, { class: "form-control" }) %>
    </div>
    <div class="btn-group">
        <%= f.submit class: "btn btn-success" %>
        <%# NOTE Only show the delete button on the edit page. Otherwise it would appear when adding a new post. %>
        <% if params[:action] == 'edit' %>
            <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
        <% end %>
    </div>
<% end %>