<article class="card mb-3 post post-<%= post.id %>">
    <div class="card-header">
        <h3 class="mb-0"><%= post.title %></h3>
    </div>
    <div class="card-body">
        <small class="d-inline-block mb-3 text-secondary border-bottom">Posted by: <%= link_to post.author.formatted_name, author_path(post.author) %> <%= time_ago_in_words(post.created_at) %> ago.</small>
        <p class="card-text"><%= post_excerpt(post) %></p>
        <%= link_to "Read More", post_path(post), class: "btn btn-sm btn-outline-primary" %>
    </div>
</article>