<h1><%= @post.title %></h1>
<p>By: <%= link_to @post.author.formatted_name, author_path(@post.author) %></p>
<%= @post.body %>
<%# TODO Reverse sort %>
<h2>Comments:</h2>
<div id="comments">
    <%= render @post.comments %>
</div>
<%# TODO Place this form above comments %>
<h2>Add A Comment:</h2>
<%= render "comment_form" %>
<%= link_to "Edit Post", edit_post_path(@post) %>