<h1><%= @post.title %></h1>
<p>By: <%= link_to @post.author.formatted_name, author_path(@post.author) %></p>
<%= @post.body %>
<h2>Add A Comment:</h2>
<%= render "comments/form" %>
<%# TODO Reverse sort %>
<h2>Comments:</h2>
<%# NOTE I wrap the comments in `<div id="comments">`` so that I can select the wrapper when using javascript in `app/views/comments/create.js.erb`. %>
<div id="comments">
    <%= render @post.comments %>
</div>
<%= link_to "Edit Post", edit_post_path(@post) %>