<!DOCTYPE html>
<html>
  <head>
    <title>RailsAjaxExamples</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%# TODO add navigation %>
        <%= render 'shared/flash' %>
        <%= yield %>
        <% if Rails.env.development? %>
          <pre>
            <code>
              <%= debug(params) %>
            </code>
          </pre>
        <% end %>
    </div>
  </body>
</html>